# python==3.12.4
pandas==2.2.2
numpy==1.26.4
scipy==1.13.1
statsmodels==0.14.2
scikit-learn==1.4.2
matplotlib==3.8.4
seaborn==0.13.2
xgboost==2.1.0
optuna==4.2.1
shap==0.47.2
svglib==1.5.1
reportlab==4.4.2
cairosvg==2.8.2
Pillow==10.3.0
